<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
</head>
<body>

<h1>Wellcome to <%=title%></h1>
<p>This is a paragraph.</p>

<div style="border: 2px green">
  <ol>
    <li><a href="/users/login">Login</a></li>
    <li><a href="/users/register">Register</a></li>
  </ol>

</div>
</body>
</html>