<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>

<h1>Wellcome to <%= title %></h1>
<hr>
<% if (message) { %>
    <div><%= message %></div>
<% } %>
<form action="/users/login" method="POST">
    Username:<br>
    <input type="text" name="username">
    <br>
    Password:<br>
    <input type="password" name="password">
    <br><br>
    <input type="submit" value="Login">
</form>
</body>
</html>
