<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
</head>
<body>

<h1>Wellcome to <%=title%></h1>
<hr>
<!-- <% if (errors) %> -->
<form action="/users/register" method="POST">
    Username:<br>
    <input type="text" name="username">
    <br>
    Email:<br>
    <input type="email" name="email">
    <br>
    Password:<br>
    <input type="password" name="password">
    <br>
    Confirm Password:<br>
    <input type="password" name="password2">
    <br><br>
    <input type="submit" value="Register">
</form>
</body>
</html>
